body{
	margin: 0;
	padding: 0;
	font-family: arial;
}
.wrapper{
	width: 100%;
	margin: 0;
	padding: 0;
}
.container-sidemenu{
	position: fixed;
	width: 20%;
	height: 100vh;
	background: linear-gradient(-45deg,#67b26f,#4ca2cd);;
	transition: 1s;
	margin-left: 0px;
	z-index: 1;
	box-shadow: 0px 2px 4px rgba(0,0,0,.5);
}

.section-atas{
	box-shadow: 0px 1px 2px rgba(0,0,0,.5);
	height: 60px;	
}

.section-atas h2{
	float: left;
	margin-right: 60px;
	font-weight: 300;
	margin-left: 20px;
	color: #fff;
}

.section-atas i{
	float: left;
	margin-top: 25px;
	margin-left: 20px;
	color: #fff;
}

.img{
	width: 100px;
	height: 100px;
	margin: 20px auto 0px auto;
	border-radius: 50%;
	background: url(../images/profil.jpg);
	background-position: center;
	background-size: cover;
	border: 2px solid #fff;
	box-shadow: 0px 2px 4px rgba(0,0,0,.5);
}
.profil{
	color: #fff;
	font-family: arial;
	text-decoration: none;
	font-size: 1.5em;
	text-align: center;
}
.container-sidemenu p{
	text-align: center;
	font-size: .9rem;
	color: #555;
	margin-top: 15px;
}
.container-sidemenu nav{
	margin-top: 30px;
}
.container-sidemenu nav ul{
	margin-left: -40px;
}
.container-sidemenu nav ul li{
	display: block;
	margin-top: 2px;
}
.container-sidemenu nav ul li a{
	display: inline-block;
	text-decoration: none;
	color: #fff;
	font-family: arial;
	width: 80%;
	height: 35px;
	padding-top: 15px;
	padding-left: 40px;
	border-bottom-right-radius: 50px;
	border-top-right-radius: 50px;
	letter-spacing: 2px;
	transition: 0.5s;
}
.container-sidemenu nav ul li a:hover{
	background-color: white;
	color: #4ca2cd;
}
.closesub{
	display: none;
}
.opensub{
	position: relative;
	left: 15px;
	display: block;
}
.container-menu{
	position: fixed;
	transition: 1s;
	width: 100%;
	height: 60px;
	float: right;
	align-content: flex-end;
	background: linear-gradient(-45deg,#67b26f,#4ca2cd);
}
.container-sidemenu button{
	background-color: rgba(0,0,0,0);
	border: none;
	font-size: 1.5em;
	color: white;
	cursor: pointer;
	margin-left: 245px;
	background-color: #000;
	border-radius: 50%;
	text-align: center;
	z-index: 100;
	margin-top: 80px;
	position: fixed;
	width: 50px;
	height: 50px;
}
.container-menu nav{
	float: right;
	color: white;
	font-size: 1em;
	padding-top:10px;
	padding-right: 15px;				
}
.container-menu nav i{
	padding-right: 10px;
	cursor: pointer;
}

.section-kiri{
	margin-left: 300px;
	float: left;
}

.section-kiri i{
	margin: 22px 10px;
	position: absolute;
}

.section-kiri input{
	border-radius: 30px;
	width: 350px;
	margin-top:12px;
	outline: none;
	border: none;
	padding: 10px;
	padding-left: 30px;
	font-family: arial;
	font-weight: bold;
}

.section-kanan{
	float: right;
}

.section-kanan p{
	float: left;
	line-height: 30px;
	color: #fff;
}

.section-kanan i{
	float: left;
	line-height: 60px;
	color: #fff;
	margin: 0px 10px;
}

.section-kanan img{
	border-radius: 50%;
	margin-top: 10px;
	margin-right: 5px;
	float: left;

}

.container-data{
	width: 100%;
	min-height: 100vh;
	background-color: #f3f3f3;
	display: flex;
	justify-content: flex-end;
	align-items: flex-start;
	padding-bottom: 40px;
}
.wrap-data{
	width: 70%;
	min-height: 10vh;
	background-color: white;
	margin-top: 70px;
	margin-right: 30px;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 40px;
	font-family: arial;
	color: #333;
	transition: 1s;
}
.judul{
	display: flex;
}
.judul p{
	padding-top: 10px;
	width: 50%;
	text-align: right;
}
.judul h2{
	width: 50%;
	text-align: left;
}
.search{
	width: 100%;
	display: flex;
	justify-content: center;
}
.search input{
	width: 100%;
	padding: 10px 0px 10px 15px;
	font-size: 1em;
	text-align: center;
	border-radius: 25px;
	border: none;
	border: 1px solid #7e7e7f;
	background-color: #f3f3f3;
	color: #7e7e7f;
	transition: 0.5s;
	margin: auto;
}
.search input:focus{
	border-radius: 0px;
}
.form{ width: 100%; }
.form table{ 
	width: 100%; 
	letter-spacing: 1px;
	margin-top: 20px;
	border-collapse: collapse;
	margin-bottom: 40px;
}
.judul-form{ background-color: #4ca2cd;  }
.data-form{
	border-bottom: 1px solid #d3d3d3;
}
.form th{ 
	text-align: center;
	color: white;
}
.bawah-form{
	height: 50px;
}
.btn-tambah{
	text-decoration: none;
	color: #4ca2cd;
	padding: 5px 15px;
	background-color: white;
	display: inline-block;
	text-align: right;
	font-size: 0.8em;
	transition: 0.5s;
}
.btn-tambah:hover{
	background-color: #f3f3f3;
}
.btn-edit{
	display: inline-block;
	padding: 7px 15px;
	background-color: #4286f4;
	color: white;
	text-decoration: none;
	font-size: 0.8em;
}
.btn-delete{
	display: inline-block;
	padding: 7px 15px;
	background-color: #f44141;
	color: white;
	text-decoration: none;
	font-size: 0.8em;
}
.label{
	color: #bab2b2;
	margin-top: 10px;
}
.input-text{
	margin-bottom: 20px;
	border: none;
	border-bottom: 1px solid #bab2b2;
	padding: 10px 0px;
	width: 90%;
	font-size: 1.5em;
	color: #333;
	outline: none;
}
.input-text:focus{
	border: none;
	border-bottom: 3px solid #bab2b2;
}
.input-select{
	width: 50%;
	padding: 10px 0px;
	border-bottom: 2px solid #bab2b2;
	margin-top: 10px;
	outline: none;
	border: 1px solid #bab2b2;
}
.tombol-edit{
	float: right;
	margin-right: 60px;
	font-size: 1em;
	padding: 10px 25px;
	border-radius: 20px;
	 transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.tombol-edit:hover{
	box-shadow: 0 10px 10px rgba(0,0,0,0.20), 0 5px 5px rgba(0,0,0,0.20);
}
.btn-reset{
	border: none;
	background-color: white;
	font-size: 0.9em;
	color: #4286f4;
	float: right;
	margin-top: 10px;
	margin-right: 20px;
	cursor: pointer;
}
.logout{
	text-decoration: none;
	color: #fff;
	padding: 5px 15px;
	font-family: arial;
	font-size: 0.8em;
}
